# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Build
build/
dist/
*.egg-info/

# Logs
logs/*.log

# Output
output/*.docx

# Input (kişisel belgeler)
input/*.docx

# Test cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Mypy
.mypy_cache/
